@{
    Layout = "~/Views/Shared/_LoginStart.cshtml";
    ViewBag.Title = "Recuperação de Senha";
}
<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center">@ViewBag.Title.</h2>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Por favor, verifique o seu e-mail para recuperar a senha.</h4>
                <span><p class="text-center">@Html.ActionLink("Retornar ao Login", "Login")</p></span>
            </div>
        </div>
    </div>
</div>

